<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="panel panel-default">
    <div class="panel-heading"><span><%= link_to 'mybook', root_path %></span>
    <ul>
      <li><%= link_to 'Entries', entries_path %></li>
      <li><a href="https://github.com/Hannibalony" target="_blank">GitHub</a></li>
      <li><%= link_to 'Login', login_user_path %></li>
      </ul></div>
      </div>
    <%= yield %>
  </body>
</html>
